@import url('https://use.typekit.net/hfo5jea.css');

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--text-color: #30242A;
	--background-color: #fff;
	--link-color: #30242A;
	--link-hover-color: #347fe7;
	--base-font-size: 12px;
  --fluid-typography-ratio: 0.9;
  --rem: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 0.75vw);
  font-size: var(--rem);
}

::selection {
	background: rgb(255, 190, 33);
}

body {
	margin: 0;
	font-family: neue-haas-grotesk, sans-serif;
	font-style: normal;
	color: var(--text-color);
	line-height: 1.6em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
	/* margin: 0; */
	font-style: normal;
}

h1,
h2,
h3 {
	letter-spacing: -1px;
	text-align: center;
}

h1 {
	font-weight: 900;
}

h2 {
	font-weight: 600;
}

h2.projects--heading {
	grid-column: 1 / 9;
}

h4 {
	font-weight: 400;
}

a {
	text-decoration: none;
	color: var(--link-color);
	outline: none;
}

a:hover,
a:focus {
	color: var(--link-hover-color);
	outline: none;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;
	justify-content: space-evenly;
}

p, li {
	font-weight: 400;
}

button {
	background: var(--link-hover-color);
	border: none;
	color: var(--background-color);
	padding: 10px;
	font-size: var(--base-font-size) * 2;
	cursor: pointer;
}
button:hover {
	background: var(--link-color);
}

sup {
	vertical-align: 3px;
}

.wrapper {
	padding: 5%;
}

/* .grid--layout {
	position: relative;
	display: grid;
	grid-template-columns: repeat(7, 2fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 2.5%;
} */

.logo {
	font-family: hwt-mardell, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0 0 1% 0;
}

/* header {
	grid-column: 1 / 2;
}

nav {
	grid-column: 3 / 9;
} */

.hero {
	width: 50%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

section.about {
	grid-column: 1 / 9;
	margin: 5% 0;
}

.projects--section {
	grid-column: 1 / 9;
	margin: 5% 0;
}

.project {
	padding: 2% 0; 
}

hr {
	grid-column: 1 / 2;
}

footer {
	grid-column: 1 / 9;
	color: #30242A;
	text-align: right;
	padding: 5% 0;
}

@media screen and (max-width: 768px) {
	header {
		grid-column: 1 / 4;
	}
	
	nav {
		grid-column: 4 / 9;
	}

	section.about {
		grid-column: 4 / 9;
	}

	h2.projects--heading {
		grid-column: 4 / 9;
	}

	.projects--section {
		grid-column: 4 / 9;
	}

	ul {
		flex-direction: column;
    text-align: center;
	}

	footer {
		grid-column: 1 / 9;
		color: #30242A;
		text-align: right;
	}
}