@import url('https://use.typekit.net/hfo5jea.css');

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--text-color: #30242A;
	--background-color: #e7e7e8;
	--link-color: #30242A;
	--link-hover-color: #4856DF;
	--sm-mq: 320px;
	--md-mq: 768px;
	--lg-mq: 1068px;
}

body {
	margin: 0;
	font-family: neue-haas-grotesk, sans-serif;
	font-style: normal;
	color: var(--text-color);
	background-color: var(--background-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	font-style: normal;
	font-family: neue-haas-grotesk-text, sans-serif;
}

h1 {
	font-weight: 900;
}

h2 {
	font-weight: 700;
}

h2 {
	font-weight: 600;
}

h2.projects--heading {
	grid-column: 1 / 9;
}

h4 {
	font-weight: 400;
}

a {
	text-decoration: none;
	color: var(--link-color);
	outline: none;
}

a:hover,
a:focus {
	color: var(--link-hover-color);
	outline: none;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flow-root;
}

p, li {
	line-height: 24px;
	font-weight: 200;
}

button {
	background: var(--link-hover-color);
	border: none;
	color: var(--background-color);
	padding: 10px;
	cursor: pointer;
}

sup {
	font-size: 9px;
	vertical-align: 3px;
}

sup.content__title--sup {
	font-size: 15px;
	vertical-align: 2px;
}

.logo {
	font-family: hwt-mardell, sans-serif;
	font-weight: 400;
	font-style: normal;
}

header {
	grid-column: 1 / 2;
}

nav {
	grid-column: 3 / 9;
}

.wrapper {
	padding: 5% 10%;
}

.grid--layout {
	position: relative;
	display: grid;
	grid-template-columns: repeat(7, 2fr);
	grid-template-rows: repeat(1, 1fr);
	grid-gap: 2.5%;
}

svg {
	grid-column: 1 / 9;
	position: static;
	width: 75%;
}

section.about {
	grid-column: 1 / 9;
	margin: 5% 0;
}

.projects--section {
	grid-column: 1 / 9;
	margin: 5% 0;
}

.project {
	padding: 2% 0; 
}

hr {
	grid-column: 1 / 2;
}

footer {
	grid-column: 1 / 9;
	color: #30242A;
	text-align: right;
	padding: 5% 0;
}

@media screen and (min-width: 1025px) {
	header {
		grid-column: 1 / 4;
	}
	
	nav {
		grid-column: 4 / 9;
	}

	svg {
		position: fixed;
		width: 25%;
		bottom: 0px;
	}

	section.about {
		grid-column: 4 / 9;
	}

	h2.projects--heading {
		grid-column: 4 / 9;
	}

	.projects--section {
		grid-column: 4 / 9;
	}

	footer {
		grid-column: 1 / 9;
		color: #30242A;
		text-align: right;
	}
}